@nicheinc:registry=https://npm.pkg.github.com/nicheinc
//npm.pkg.github.com/:_authToken="${NPM_TOKEN}"
legacy-peer-deps=true

# to allow `pnpm i` for local development:
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

